.small-header{
display: flex;
justify-content: space-around;    
box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
padding-bottom: 10px;
padding-top: 10px;
}
.logo-text{
    font-size: 45px;
    font-weight: 900;
    margin-right: 90px;
    margin-top: 10px;
}
.mini-logo{ 
    width: 800px;
    display: flex;
}
